/* <!DOCTYPE css> */
.grid div:nth-child(1n+1){
  background-color:#EE6352;
  border-radius: 25px;
}
.grid div:nth-child(2n+1){
  background-color:#3FA7D6;
  border-radius: 25px;
}
/* remove background color from child (1/2:nav, 2:title, 3: header, 4: siderbar, 5:content, 6: footer ) */
.grid div:nth-child(1){
  background-color: #ff00;
}
body{
  background-image:  url("https://images.unsplash.com/photo-1480241352829-e1573ff2414e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3e47d11e9273db2993817d24db2475d7&auto=format&fit=crop&w=1500&q=80");
  background-position: center;
}
iframe{
  border-radius: 25px;
}
img{
  border-radius: 25px;
}
/* responsive webpage for moblie */
.grid{
  display: grid;
  /* 1 fr/100 px/20% /auto */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto 1fr 1fr 1fr 1fr;
  grid-template-areas: "nav nav nav"
  "title title title"
  "header header header"
  "sidebar sidebar sidebar"
  "content content content"
  "footer footer footer";
  grid-gap: 20px;
}
/* .navigation {
  grid-area: navigation;
  font-family: 'Bangers';font-size: 22px;
  text-transform: uppercase;
  justify-self: center;
  align-self: center;
  text-shadow: 2px 1px white;
  padding: 20px;
} */
/* Navigation */
#nav {
  grid-area: nav
  display: grid;
  margin_top: 10px;
  border-radius: 0px;
  height: 70px;
  background: #FF7519;
  /* background: #FF00; */
  display: block;
  position: fixed;
  font-family: 'Barrio';font-size: 28px;
  width: 100%;
  z-index: 99999;
  transition: all ease .5s;
  letter-spacing: 3px;
  word-spacing: 20px;
}

#logo {
  grid area: logo;
  color: #fff;
  padding: 20px;
  font-size: 28px;
  transition: all ease .5s;
}
#nav.change {
  background: #EA3546;
  transition: all ease .5s;
}

/* grid-column-start: 1;
    grid-column-end: 3;
    grid-column: 1/ 3;
    grid-column-end: span 1;
    grid-row-end: span 2; } */
.title {
  grid-area: title;
  margin-top: 60px;
  font-family: 'Bangers';font-size: 22px;
  text-transform: uppercase;
  justify-self: center;
  align-self: center;
  text-shadow: 2px 1px white;
  padding: 20px;
}
.header {
  grid-area: header;
  font-family: 'Barrio';font-size: 22px;
  text-shadow: 2px 1px white;
  text-transform: capitalize;
  letter-spacing: 3px;
  word-spacing: 10px;
  justify-self: center;
  align-self: center;
  line-height: 2;
  padding: 5px 15px 5px 15px;

}
.sidebar {
  grid-area: sidebar;
  padding: 10px;
 justify-self: center;
 align-self: center;
 margin-right: 30px;
}
.content {
  grid-area: content;
  display: grid;
  padding: 20px;
  margin-left: 30px;

/* makes .content into a grid
  display:grid;*/
}
.footer {
  grid-area: footer;
  font-family: 'Barrio';font-size: 28px;
  text-transform: capitalize;
  letter-spacing: 3px;
  word-spacing: 10px;
  justify-self: center;
  align-self: center;
  line-height: 2;
  padding: 10px;
  margin-bottom: 60px;
}

/* responsive webpage for desktop */
@media screen and (min-width: 736px)
{
  .grid{
    display: grid;
    grid-template-columns: 1fr  1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: ". navigation navigation navigation ."
    ". title title title ."
    ". header header header ."
    ". sidebar sidebar content ."
    ". footer footer footer .";
  }
}

/*testing responsive webpage for tablet */
/* @media screen and (min-width: 1136px)
{
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: ". title title title ."
  ". header header header ."
  ". sidebar sidebar sidebar ."
  ". content content content ."
  ". footer footer footer .";
  grid-gap: 20px;
}
} */
